[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyxboxtest = {editable = true, path = "./../../../pyxboxtest"}
gitpython = "*"
python-git = "*"
pytest-xdist = {extras = ["psutil"], version = "*"}

[dev-packages]
pylint = "*"
pytype = "*"

[requires]
python_version = "3.8"
